<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

  <body>
    <div id="new-wrapper">
      <%- partial('_partial/sider') %>
        <div id="content">
          <%- body %>
        </div>
    </div>
    <%- partial('_partial/footer') %>
  <%# disabled: bg-img + color-scheme image swap %>
  </body>

</html>
