<% if (site.tags.length) { %>
    <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcloud.js') %>"></script>
    <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcanvas.js') %>"></script>
    <div class="widget-wrap">
      <h3 class="widget-title"><%= __('tagcloud') %></h3>
      <div id="myCanvasContainer" class="widget tagcloud">
        <canvas width="300" height="300" id="resCanvas" style="width:100%;height:100%;">
          <%- tagcloud() %>
        </canvas>
      </div>
    </div>
  <% } %>
